:root {
    --main-bg-color: #EFEDED;
    --main-text-color: #1570EF;
    --second-text-color: #bbbec5;
    --second-bg-color: #d1edf2;
}


.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    background-image: linear-gradient(to left,
            #d4d4d4,
            #dedede,
            #ececec,
            #f5f5f5);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group-item:hover,
#sidebar-wrapper .list-group-item:hover a {
    color: #1570EF !important;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #1570EF;
    font-weight: 650;
    padding-bottom: 20px;
    margin-top: -10px;
  }  

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.wrapper .btn {
    width: 200px;
    height: 50px;
    background: #18C4FA;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    margin: auto;
    font-weight: 600;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    flex-wrap: wrap;
}

.wrapper .btn2 {
    width: 200px;
    height: 50px;
    background: #EE801B;
    margin-top: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin: auto;
    color: white;
    font-weight: 600;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

/* .active-button {
    color: blue !important;
} */

.clickable-summary {
    display: block;
    text-decoration: none;
    color: inherit;
}
.clickable-summary > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    border-radius: .25rem;
    color: black;
}
.clickable-summary:hover > div {
    text-decoration: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}